    <div class="layout">
        <div class="container">
            <h2>Tu imagen a sido enviada con exito</h2>
            <div class="icon">
                <i class="fa-regular fa-circle-check"></i>
            </div>
            
            <p>¡Muchas gracias por tu generosa donacion! Tu apoyo es fundamental para nosotros y nos ayuda a seguir adelante con nuestra misión. ¡Gracias de Corazón!  </p>
            <br><i class="fas fa-paw"></i>
        </div>
        <div class="image-container">
            
            <a href="#" class="btn-fundacion">
                <div class="hover-text">
                    <i class="fas fa-paw1"></i> Fundación Instinto
                </div>
            </a>
            <img src="assets/tu-imagen-ha-sido-enviada.png" alt="Imagen de un cachorro">
            <a href="../home/home.component.html" class="btn">Inicio</a>
        </div>
    </div>


