<div class="padre">
<div class="container">
    
    <div class="left">
      <h1>TESTIMONIO DE UNA<br>MASCOTA FELIZ</h1>
      <div class="icono"><i class="fas fa-paw"></i></div>
    </div>

    
    <div class="right">
     
      <div class="header"><i class="fas fa-paw"></i> FUNDACIÓN INSTINTO</div>

      <div class="textarea-container">
        <textarea placeholder="Agregar testimonio..."></textarea>
      </div>
      
      <p>En caso de tal que se cambie el estado del peludito a uno que no sea "Adoptado", se tomará como si él hubiera regresado a la fundación</p>

      <div class="dropdown-container">
        <label for="estado_urgencia">Estado_urgencia</label>
        <div class="custom-select">
          <select id="estado_urgencia" name="estado_urgencia">
            <option value="adoptado" selected>Adoptado</option>
            <option value="Estado_critico">Estado critico</option>
            <option value="Estado_urgente">Estado urgente</option>
            <option value="Estado_leve">Estado leve</option>
            <option value="disponible">Disponible</option>
          </select>
        </div>
      </div>
      
      <div class="buttons">
        <button>ENVIAR</button>
        <button class="cancel">CANCELAR</button>
      </div>
    </div>
  </div>
</div>