<h1>Donaciones Monetarias</h1>
    <h4>Estas son las cuentas a las que puedes realizar tu donacion</h4>

    <main>
        <div class="contenedor-fotos">
            <section class="gallery">
             
                <div class="card">
                    <img src="assets/paypal_donaciones_monetarias.png" alt="Paypal">
                    <h3>Paypal</h3>
                    <p>refugioinstintor7 &#64;gmail.com</p>
                </div>
    
                <div class="card">
                    <img src="assets/nequi_daviplata_donaciones_monetarias.png" alt="nequi_daviplata">
                    <h3>Nequi o Daviplata</h3>
                    <p>3206981098</p>
                </div>
    
                <div class="card">
                    <img src="assets/intento.png" alt="davivienda">
                    <h3>Cuenta de ahorros Davivienda</h3>
                    <p>488403923813</p>
                </div>
    
                <div class="card">
                    <img src="assets/efectivo_donaciones_monetarias.png" alt="efectivo">
                    <h3>Efectivo</h3>
                    <p>Lleve el dinero al hogar</p>
                </div>
    
                <div class="card">
                    <img src="assets/donar_esterilizacion_donaciones_monetarias.png" alt="esterilizacion">
                    <h3>Donar una esterilización</h3>
                </div>
    
                <div class="card">
                    <img src="assets/plan_veterinario_donaciones_monetarias.png" alt="">
                    <h3>Plan veterinario</h3>
                    <p>Ayúdanos a pagar un médico veterinario (Plan 50/50)</p>
                </div>
                
               
    
            </section>
            <div class="mensaje">
                La bondad no tiene precio, pero puede tener un gran impacto. Dona hoy y ayuda a nuestros amigos
                peludos a encontrar un hogar lleno de amor.
            </div>
        </div>
    </main>

    <app-footer></app-footer>
