<div class="testimonio-container">
  <div class="imagen-placeholder">
    <p>TESTIMONIO DE UNA<br>MASCOTA FELIZ</p>
    <span class="huella"><br><i class="fas fa-paw"></i></span>
  </div>

  <div class="formulario">
    <a href="#" class="btn-fundacion">
    <div class="hover-text">
    <i class="fas fa-paw"></i> Fundación Instinto
    </div>
    </a>

    <div class="campo">
      <textarea 
        placeholder="Agregar testimonio..."
        [(ngModel)]="testimonio"
        rows="6"
      ></textarea>
    </div>

    <div class="botones">
  <button class="btn-enviar" (click)="enviar()" routerLink="/admin/Testimonios">ENVIAR</button>
  <button class="btn-cancelar" routerLink="/admin/home" (click)="cancelar()">CANCELAR</button>
</div>

<div class="action-buttons">
    <button class="action-button delete" (click)="mostraralerta()">
        <i class="fa-solid fa-trash"></i>
    </button>
</div>
<div class="dialog-container" *ngIf="alertaeliminar">
    <div class="dialog-box">
      <div class="dialog-header">¿Está seguro que quiere eliminar esta mascota?</div>
      <div class="dialog-actions">
        <button class="cancel-button" routerLink="/admin/ver-todas-mascotas"  (click)="eliminarmascota()">CONFIRMAR</button>
        <button class="accept-button" (click)="ocultaralerta()">CANCELAR</button>
      </div>
    </div>
</div>
  </div>
</div>
