<div class="layout">
    <div class="container">
        <h2>Solicitud Enviada</h2>
        <div class="icon">
            <i class="fa-regular fa-circle-check"></i>
        </div>
        
        <p>Muchas gracias por tu buena acción, en breve nos comunicaremos contigo.  </p>
        <br><i class="fas fa-paw"></i>
    </div>
    <div class="image-container">
        
        <a href="#" class="btn-fundacion">
            <div class="hover-text">
                <i class="fas fa-paw1"></i> Fundación Instinto
            </div>
        </a>
        <img src="assets/solicitud-enviada.jpg" alt="Imagen de un cachorro">
        <a href="../home/home.component.html" class="btn">Inicio</a>
    </div>
</div>
