
  <div class="text-box1">
    <a routerLink="/admin/ver-todas-mascotas" class="hover-text">
      <h3><i class="fa-solid fa-chevron-left"></i> Volver</h3>
    </a>
  </div>
  <div class="form-container">
    <h2>Mascotas</h2>
    <div class="loading" *ngIf="loading">
      <i class="fa-solid fa-spinner fa-spin fa-2xl"></i>
    </div>
    <form [formGroup]="mascotaForm" *ngIf="!loading">
      <div class="form-columns">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" placeholder="Manzanita" formControlName="nombre">
          <div class="error-msg">
            <p *ngIf="this.mascotaForm.controls['nombre'].touched && this.mascotaForm.controls['nombre'].errors && this.mascotaForm.controls['nombre'].errors!['required']">El campo nombre es obligatorio</p>
          </div>
        </div>

        <div class="form-group">
          <label for="raza">Raza</label>
          <input type="text" id="raza" placeholder="Criolla" formControlName="raza">
          <div class="error-msg">
            <p *ngIf="this.mascotaForm.controls['raza'].touched && this.mascotaForm.controls['raza'].errors && this.mascotaForm.controls['raza'].errors!['required']">El campo raza es obligatorio</p>
          </div>
        </div>

        <div class="form-group">
          <label for="edad">Meses/años</label>
          <input type="number" id="edad" placeholder="Edad" formControlName="edad">
          <div class="error-msg">
            <p *ngIf="this.mascotaForm.controls['edad'].touched && this.mascotaForm.controls['edad'].errors && this.mascotaForm.controls['edad'].errors!['required']">El campo edad es obligatorio</p>
          </div>
        </div>

        <div class="form-group">
          <label for="sexo">Sexo</label>
          <select id="sexo" formControlName="sexo">
            <option value="Hembra">Hembra</option>
            <option value="Macho">Macho</option>
          </select>
          <div class="error-msg">
            <p *ngIf="this.mascotaForm.controls['sexo'].touched && this.mascotaForm.controls['sexo'].errors && this.mascotaForm.controls['sexo'].errors!['required']">El campo sexo es obligatorio</p>
          </div>
        </div>

        <div class="form-group">
          <label for="esterilizada">Esterilizada</label>
          <select id="esterilizada" formControlName="esterilizada">
            <option value="Sí">Sí</option>
            <option value="No">No</option>
          </select>
          <div class="error-msg">
            <p *ngIf="this.mascotaForm.controls['esterilizada'].touched && this.mascotaForm.controls['esterilizada'].errors && this.mascotaForm.controls['esterilizada'].errors!['required']">El campo esterilizada es obligatorio</p>
          </div>
        </div>

        <div class="form-group">
          <label for="estado-urgencia">Estado de urgencia</label>
          <select id="estado-urgencia" formControlName="estado">
            <option value="critico">&#x1F534;Estado crítico</option>
            <option value="urgente">&#x1F535;Estado urgente</option>
            <option value="leve"> &#x1F7E1;Estado leve</option>
            <option value="disponible">&#x1F7E2;Disponible</option>
            <option value="adoptado"> &#x1F7E0;Adoptado</option>
            <option value="no disponible"> &#x1F7E0;No Disponible</option>
          </select>
          <div class="error-msg">
            <p *ngIf="this.mascotaForm.controls['estado'].touched && this.mascotaForm.controls['estado'].errors && this.mascotaForm.controls['estado'].errors!['required']">El campo estado es obligatorio</p>
          </div>
        </div>

        <div class="form-group">
          <label for="condiciones">Condiciones especiales</label>
          <select id="sexo" formControlName="condiciones">
            <option>Si</option>
            <option>No</option>
          </select>
          <div class="error-msg">
            <p *ngIf="this.mascotaForm.controls['condiciones'].touched && this.mascotaForm.controls['condiciones'].errors && this.mascotaForm.controls['condiciones'].errors!['required']">El campo condiciones es obligatorio</p>
          </div>
        </div>

        <div class="form-group">
          <label for="tamaño">Tamaño</label>
          <select id="tamano" formControlName="tamano">
            <option>Pequeño</option>
            <option>Mediano</option>
            <option>Grande</option>
        </select>
        <div class="error-msg">
          <p *ngIf="this.mascotaForm.controls['tamano'].touched && this.mascotaForm.controls['tamano'].errors && this.mascotaForm.controls['tamano'].errors!['required']">El campo tamano es obligatorio</p>
        </div>
        </div>

        <div class="form-group">
          <label for="historia">Historia</label>
          <textarea id="historia" placeholder="Breve descripción del animal..." formControlName="historia"></textarea>
          <div class="error-msg">
            <p *ngIf="this.mascotaForm.controls['historia'].touched && this.mascotaForm.controls['historia'].errors && this.mascotaForm.controls['historia'].errors!['required']">El campo historia es obligatorio</p>
          </div>
        </div>

        <div class="form-group file-upload-container">
          <label>Agregar imagen</label>
          <div class="file-upload" (click)="imagesInput.click()">
            <input type="file" #imagesInput (change)="imagesSelected($event)">
            <img src="\assets\image.png" alt="" *ngIf="!(imagesBase64.length > 0)">
            <p *ngIf="imagesBase64.length > 0">{{ imagesBase64.length + " Imagenes seleccionadas." }}</p>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" (click)="addMascota()">Hecho</button>
      </div>
    </form>
  </div>