.text-box1 {
    margin-left: 30px;
    margin-top: 20px;
    width: fit-content;
  }
  
  .text-box1 h3 {
    font-size: 16px;
    height: 20px;
    margin-bottom: 10px;
    color: #c7a17a;
    line-height: 1.5;
    cursor: pointer;
  }
  
  .hover-text {
    text-decoration: none;
  }
  
      body {
          font-family: Arial, sans-serif;
          background-color: #f7f1e9;
          text-align: center;
          margin: 0;
          padding: 0;
      }

      .container {
  width: 50%;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 400px; 
  overflow-y: auto;
}


      h1 {
          background-color: #c69c6d;
          padding: 15px;
          color: black;
          border-radius: 10px 10px 0 0;
          margin-top: 40px;
      }

      .input-group {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 15px;
          gap: 10px;
      }

      h2 {
          font-size: 11px;
          font-weight: bold;
          color: #5a3e2b;
          margin: 0;
          flex: 0 0 120px;
          text-align: left;
      }

      input {
          flex: 1;
          padding: 8px;
          border: 1px solid #ccc;
          border-radius: 5px;
      }

      .status-button {
          padding: 5px 0;
          border-radius: 25px;
          color: white;
          font-size: 10px;
          width: 70px;
          text-align: center;
          border: none;
          cursor: pointer;
      }

      .aprobado { background-color: green; }
      .rechazado { background-color: red; }

      .add-button {
          background-color: black;
          color: white;
          padding: 10px;
          border: none;
          cursor: pointer;
          width: 100%;
          border-radius: 5px;
          margin-top: 20px;
      }

      .round-button {
          width: 40px;
          height: 40px;
          background-color: #F9F5F0;
          color: black;
          font-size: 24px;
          border: none;
          border-radius: 50%;
          cursor: pointer;
          margin-right: 10px;
          display: inline-flex;
          justify-content: center;
          align-items: center;
      }

      .button-container {
          display: flex;
          justify-content: flex-end;
          margin-top: 10px;
      }

      #newItemGroup {
          display: none;
      }

     
      #toggleCheckbox:checked ~ #newItemGroup {
          display: flex;
      }

   
      #toggleCheckbox {
          display: none;
      }

   
      label[for="toggleCheckbox"] {
          cursor: pointer;
      }

      .alerta {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        padding: 10px 20px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: bold;
        text-align: center; 
        display: flex;
        align-items: center;
        justify-content: center; 
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: auto; 
        max-width: 80%; 
        min-width: 250px; 
        height: 170px; 
    }
    
    .alerta.hidden {
        opacity: 0;
        visibility: hidden;
    }
    
    
    

