@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

  .search-bar {
      display: flex;
      align-items: center;
      justify-content: center; 
      gap: 10px;
      padding: 10px;
      background-color: #FFF9F3;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      width: fit-content;
      margin: 0 auto; 
  }
  #estado-selector {
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #CCA27A; 
      font-size: 14px;
  }
  
  #buscar-btn {
    padding: 8px 12px;
    background-color: #CCA27A;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  #buscar-btn:hover {
    background-color: #b39266; 
  }

  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
  }
  
  .image-item {
    flex: 0 0 calc(25% - 70px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }

  .image-container img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border: 2px solid #CCA27A; 
  }
  
  .color-box {
    width: 100px; 
    height: 30px;
    background-color: #FFF9F3; 
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center; 
    justify-content: center; 
    font-size: 14px;
    color: #333; 
    font-weight: bold;
    text-align: center;
    gap: 5px; 
  }
  
  .add-image-button {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    width: 60px; 
    height: 60px;
    background-color: #CCA27A; 
    color: white; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center; 
    font-size: 30px; 
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    transition: transform 0.3s ease, background-color 0.3s ease; 
  }
  
  .add-image-button:hover {
    background-color: #b39266; 
    transform: scale(1.1); 
  }


  .Amarillo-circle {
    width: 10px; 
    height: 10px;
    background-color:#FAC710; 
    border-radius: 50%; 
    flex-shrink: 0; 
  }

  .Verde-circle {
    width: 10px; 
    height: 10px;
    background-color: #8FD14F;
    border-radius: 50%; 
    flex-shrink: 0; 
  }
  

  .loading {
  padding: 20px;
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin: 40px 0px;
  color: #c7a17a;
  }


  .estado-circle {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 8px;
  }


  .rojo {
    background-color: red;
  }

  .azul {
    background-color: #3b3bbf; 
  }

  .cyan {
    background-color: #00d4d4; 
  }

  .verde {
    background-color: #79d70f; 
  }

  .amarillo {
    background-color: #fdd835;
  }
