<section id="about">
    <div class="container">
        <h2>¿Eres amante de los animales y quieres ayudar? </h2>
        <p>Buscamos voluntarios apasionados para unirse a nuestra causa en Fundación Instinto.</p>
    </div>
</section>

 <section id="gallery">
    <div class="container">
        <div class="slider">
            <button class="prev" (click)="changeSlide(-0)">&#10094;</button>

            <div class="slides">

                <div class="slide">
                    <img src="assets/paseo_peludito.jpeg.jpg" alt="paseo_peludito">
                    <h2 class="img_description">Paseador de perros:</h2>
                    <p>¡Conviértete en el héroe de un perro! Brinda amor y ejercicio a nuestros amigos peludos mientras paseas por el refugio.</p>
                </div>

                <div class="slide">
                    <img src="assets/limpiar_arenero.jpeg.jpg" alt="Limpiar_arenero">x
                    <h2 class="img_description">Hada Gatuna:</h2>
                    <p>¡Acomoda a nuestros felinos! Mantén limpias y acogedoras las áreas donde descansan y juegan nuestros adorables gatos.</p>
                </div>

                <div class="slide">
                    <img src="assets/Aseo_peluditos.jpeg.jpg" alt="Aseo_peliditos">
                    <h2 class="img_description">héroe del baño</h2>
                    <p>¡Manten a nuestros amigos del refugio limpios </p>
                </div>

                <div class="slide">
                    <img src="assets/Alimentar.jpeg.jpg" alt="Alimentar">
                    <h2 class="img_description">Chef animal: </h2>
                    <p> Prepara con cariño la comida de nuestros peludos amigos, asegurando una alimentación nutritiva y deliciosa.</p>
                </div>

                <div class="slide">
                    <img src="assets/Adopta.jpeg.jpg" alt="Adopta">
                    <h2 class="img_description">Embajador de adopciones: </h2>
                    <p> ¡Ayuda a encontrar hogares para nuestros peludos! Participa en campañas de adopción, promoviendo la responsabilidad y el amor por los animales.</p>
                </div>

                <div class="slide">
                    <img src="assets/limpieza_jaulas.jpeg.jpg" alt="Limpieza_de_jaulas">
                    <h2 class="img_description">Héroe de la limpieza: </h2>
                    <p> ¡Mantén nuestro refugio impecable! Limpia jaulas, áreas comunes y espacios exteriores para garantizar un ambiente higiénico para nuestros animales.</p>
                </div>

                <div class="slide">
                    <img src="assets/Voluntariado_virtual.jpeg.jpg" alt="Voluntariado_virtual">
                    <h2 class="img_description">Voluntario virtual: </h2>
                    <p> ¡Ayuda desde donde estés! Colabora con tareas administrativas, traducción, diseño o creación de contenido desde la comodidad de tu hogar.</p>
                </div>

                <div class="slide">
                    <img src="assets/Recaudacion_fondos.jpeg.jpg" alt="Recaudacion_fondos">
                    <h2 class="img_description">Angel recaudador: </h2>
                    <p> ¡Sé parte de la solución! Recauda fondos para apoyar la alimentación, cuidado y bienestar de nuestros animales.</p>
                </div>  
                
            </div>
            <button class="next" (click)="changeSlide(0)">&#10095;</button>
        </div>
    </div>
</section>

<section id="volunteer">
    <div class="container">
        <h2>Únete como Voluntario</h2>
        <div class="loading" *ngIf="loading">
            <i class="fa-solid fa-spinner fa-spin fa-2xl"></i>
          </div>
        <div class="form" *ngIf="!loading">
            <form [formGroup]="voluntariadoForm" (submit)="solicitudVoluntariado()">
                <label for="nombre">Nombre:</label>
                <input 
                  type="text" 
                  id="nombre" 
                  name="nombre" 
                  placeholder="Nombre..." 
                  formControlName="nombre"
                  (input)="onNombreInput($event, 'nombre')"
                  [class.is-invalid]="voluntariadoForm.get('nombre')?.invalid && voluntariadoForm.get('nombre')?.touched">
                <div class="error-msg" *ngIf="voluntariadoForm.get('nombre')?.errors">
                  <p *ngIf="voluntariadoForm.get('nombre')?.errors?.['required'] && voluntariadoForm.get('nombre')?.touched">
                    El nombre es obligatorio
                  </p>
                  <p *ngIf="voluntariadoForm.get('nombre')?.errors?.['minlength']">
                    El nombre debe tener al menos 3 caracteres
                  </p>
                  <p *ngIf="voluntariadoForm.get('nombre')?.errors?.['maxlength']">
                    El nombre no puede tener más de 15 caracteres
                  </p>
                  <p *ngIf="voluntariadoForm.get('nombre')?.errors?.['pattern']">
                    Solo se permiten letras y espacios
                  </p>
                  <p *ngIf="voluntariadoForm.get('nombre')?.errors?.['espaciosAlInicio']">
                    No se permiten espacios al inicio
                  </p>
                </div>
                
                <label for="apellido">Apellido:</label>
                <input 
                  type="text" 
                  id="apellido" 
                  name="apellido" 
                  placeholder="Apellido..." 
                  formControlName="apellido"
                  (input)="onNombreInput($event, 'apellido')"
                  [class.is-invalid]="voluntariadoForm.get('apellido')?.invalid && voluntariadoForm.get('apellido')?.touched">
                <div class="error-msg" *ngIf="voluntariadoForm.get('apellido')?.errors">
                  <p *ngIf="voluntariadoForm.get('apellido')?.errors?.['required'] && voluntariadoForm.get('apellido')?.touched">
                    El apellido es obligatorio
                  </p>
                  <p *ngIf="voluntariadoForm.get('apellido')?.errors?.['minlength']">
                    El apellido debe tener al menos 3 caracteres
                  </p>
                  <p *ngIf="voluntariadoForm.get('apellido')?.errors?.['maxlength']">
                    El apellido no puede tener más de 15 caracteres
                  </p>
                  <p *ngIf="voluntariadoForm.get('apellido')?.errors?.['pattern']">
                    Solo se permiten letras y espacios
                  </p>
                  <p *ngIf="voluntariadoForm.get('apellido')?.errors?.['espaciosAlInicio']">
                    No se permiten espacios al inicio
                  </p>
                </div>

                <label for="celular">Número de WhatsApp: *</label>
                <input 
                  type="text" 
                  id="celular" 
                  name="celular" 
                  placeholder="Número de WhatsApp..." 
                  formControlName="celular"
                  (input)="onCelularInput($event)"
                  [class.is-invalid]="voluntariadoForm.get('celular')?.invalid && voluntariadoForm.get('celular')?.touched">
                <div class="error-msg" *ngIf="voluntariadoForm.get('celular')?.errors">
                  <p *ngIf="voluntariadoForm.get('celular')?.errors?.['required'] && voluntariadoForm.get('celular')?.touched">
                    El número de WhatsApp es obligatorio
                  </p>
                  <p *ngIf="voluntariadoForm.get('celular')?.errors?.['pattern']">
                    Solo se permiten números
                  </p>
                  <p *ngIf="voluntariadoForm.get('celular')?.errors?.['minlength']">
                    El número debe tener al menos 6 dígitos
                  </p>
                  <p *ngIf="voluntariadoForm.get('celular')?.errors?.['maxlength']">
                    El número no puede tener más de 13 dígitos
                  </p>
                  <p *ngIf="voluntariadoForm.get('celular')?.errors?.['espaciosAlInicio']">
                    No se permiten espacios al inicio
                  </p>
                </div>

                <label for="email">Correo electrónico: *</label>
                <input 
                  type="email" 
                  id="email" 
                  name="email" 
                  placeholder="correo@ejemplo.com" 
                  formControlName="email"
                  (input)="onEmailInput($event)"
                  [class.is-invalid]="voluntariadoForm.get('email')?.invalid && voluntariadoForm.get('email')?.touched">
                <div class="error-msg" *ngIf="voluntariadoForm.get('email')?.errors">
                  <p *ngIf="voluntariadoForm.get('email')?.errors?.['required'] && voluntariadoForm.get('email')?.touched">
                    El correo electrónico es obligatorio
                  </p>
                  <p *ngIf="(voluntariadoForm.get('email')?.errors?.['email'] || voluntariadoForm.get('email')?.errors?.['pattern']) && !voluntariadoForm.get('email')?.errors?.['required']">
                    Por favor ingresa un correo electrónico válido (ejemplo: nombre&#64;dominio.com)
                  </p>
                  <p *ngIf="voluntariadoForm.get('email')?.errors?.['espaciosAlInicio']">
                    No se permiten espacios al inicio
                  </p>
                </div>
                <h3>
                    Elige la labor que deseas hacer como voluntariado
                </h3>
                <div class="container contain-checks">
                    <div class="option">
                        <label for="paseador"> Paseador de perros</label>
                        <input type="checkbox" id="paseador" name="paseador" value="paseador" formControlName="paseadorPerros">
                    </div>
                    <div class="option">
                        <label for="gatos"> Hada Gatuna</label>
                        <input type="checkbox" id="gatos" name="gatos" value="gatos" formControlName="hadaGatuna">
                    </div>
                    
                    <div class="option">
                        <label for="baño"> Heroe del baño</label>
                        <input type="checkbox" id="baño" name="baño" value="baño" formControlName="heroeBaño">
                    </div>
                    
                    <div class="option">
                        <label for="chef"> Chef animal</label>
                        <input type="checkbox" id="chef" name="chef" value="chef" formControlName="chefAnimal">
                    </div>
                    
                    <div class="option">
                        <label for="adopciones"> Embajador de adopciones</label>
                        <input type="checkbox" id="adopciones" name="adopciones" value="adopciones" formControlName="embajadorAdopciones">
                    </div>
                    
                    <div class="option">
                        <label for="Limpieza"> Heroe de la limpieza</label>
                        <input type="checkbox" id="Limpieza" name="Limpieza" value="Limpieza" formControlName="heroeLimpieza">
                    </div>
                    
                    <div class="option">
                        <label for="Volunatario"> Voluntario virtual</label>
                        <input type="checkbox" id="Volunatario" name="Volunatario" value="Volunatario" formControlName="voluntarioVirtual">
                    </div>
                    
                    <div class="option">
                        <label for="Recaudacion"> Angel recaudador</label>
                        <input type="checkbox" id="Recaudacion" name="Recaudacion" value="Recaudacion" formControlName="angelRecaudador">
                    </div>
                </div>
                
                <div class="form-group" style="margin-bottom: 15px;">
                    <label for="otro">Otra labor que desees realizar:</label>
                    <textarea 
                      id="otro" 
                      name="otro" 
                      class="form-control"
                      placeholder="Describe aquí otra labor que te gustaría realizar (máx. 150 caracteres)" 
                      rows="3"
                      formControlName="otro"
                      (input)="onOtroInput($event)"
                      [class.is-invalid]="voluntariadoForm.get('otro')?.invalid && voluntariadoForm.get('otro')?.touched"
                      style="resize: vertical;"></textarea>
                    <div class="error-msg" *ngIf="voluntariadoForm.get('otro')?.errors">
                      <p *ngIf="voluntariadoForm.get('otro')?.errors?.['required'] && voluntariadoForm.get('otro')?.touched">
                        Por favor selecciona al menos una opción o describe otra labor
                      </p>
                      <p *ngIf="voluntariadoForm.get('otro')?.errors?.['maxlength']">
                        El texto no puede tener más de 150 caracteres
                      </p>
                      <p *ngIf="voluntariadoForm.get('otro')?.errors?.['espaciosAlInicio']">
                        No se permiten espacios al inicio
                      </p>
                    </div>
                </div>
                
                <button type="submit">Enviar</button>
            </form>
        </div>
    </div>
</section>

