<div class="father">
    <div class="text-box1">
        <a class="hover-text" routerLink="/web/donaciones"><h3> <i class="fa-solid fa-chevron-left"></i> Volver</h3></a>
    </div>
    
    <h1>DONACIONES EN ESPECIE</h1>
    <h4>
        Tu donación de artículos para mascotas puede transformar vidas.<br>
        Ayúdanos a rescatar y tratar a nuestros amigos peludos heridos y abandonados.
    </h4>
        
    
    <div class="grid-container">
        <div class="grid-item">
            <img src="assets/alimento para gatos_donaciones en especie.pgn.jpg" alt="Alimento para gatos">
            <div class="caption">Alimento para gatos</div>
        </div>
        <div class="grid-item">
            <img src="assets/alimento para perros_donaciones en especie.png.jpg" alt="Alimento para perros">
            <div class="caption">Alimento para perros</div>
        </div>
        <div class="grid-item">
            <img src="assets/peine o cepillo_donaciones en especie.png.png" alt="Peines o cepillos">
            <div class="caption">Peines o cepillos</div>
        </div>
        <div class="grid-item">
            <img src="assets/medicamentos o suplementos nutricionales_donaciones en especie.png.png" alt="Suplementos nutricionales">
            <div class="caption">Medicamentos veterinarios</div>
        </div>
        <div class="grid-item">
            <img src="assets/camas y mantas_donaciones en especie.png.png" alt="Camas y mantas">
            <div class="caption">Camas y mantas</div>
        </div>
        <div class="grid-item">
            <img src="assets/arena para gatos_donaciones en especie.png.png" alt="Artículos de limpieza">
            <div class="caption">Arena para gatos</div>
        </div>
        <div class="grid-item">
            <img src="assets/correas y arneses_donaciones en especie.png.png" alt="Correas y arneses">
            <div class="caption">Correas y arneses</div>
        </div>
        <div class="grid-item">
            <img src="assets/articulos de limpieza_donaciones en especie.png.png" alt="Productos de desinfección">
            <div class="caption">Productos de limpieza</div>
        </div>
        <div class="grid-item">
            <img src="assets/jaulas y transportadoras_donaciones en especie.png.png" alt="Jaulas y transportadoras">
            <div class="caption">Jaulas y transportadoras</div>
        </div>
    </div>

    <div class="gallery">
        <button (click)="toFormularioDeDonaciones()">Donar aqui</button>
    </div>

</div>

 


