<section class="section-fotos">
	<div class="contenedor-fotos">
		<div class="gallery">
			<img src="assets/donaciones_monetarias_donaciones.png" alt="Imagen donaciones monetarias">
			<div class="blogs"><h3>DONACIONES MONETARIAS</h3>
				<p>Con tu aporte monetario podemos: comprar medicinas, esterilizar animales, comprar comida ¡y mucho mas!</p>
			</div>
			<button (click)="toDonacionesMonetarias()">Donar aqui</button>
		</div>

		<div class="gallery">
			<img src="assets/donaciones_en_especie_donaciones.png" alt="Imagen donaciones en especie">
			<div class="blogs"><h3>DONACIONES EN ESPECIE</h3>
				<p>¿Tienes objetos, medicinas o comida que ya no usas?
					¡Dónalos a nuestra fundación y dale una segunda oportunidad!</p>
			</div>
			<button (click)="toDonacionesEspecie()">Donar aqui</button>
		</div>
	</div>	
</section>
