   
          <div class="content-container2">
          
            <div class="sub-title-box">
              <p>Testimonios</p>
            </div>
          
          <div class="container1">
           <div class="box" *ngFor="let mascota of mascotasConTestimonio">
          <div class="img">
          <img [src]="mascota.imagenes[0]" alt="Imagen" (click)="redireccionartestimonio(mascota)">
          </div>
          <div class="details pink-box">
          <h2 class="card-title">{{ mascota.nombre }}</h2>
          <p class="custom-font-size">{{ mascota.testimonio }}</p>
     </div>
      

          </div>
          </div>  