<section class="banner">
    <div class="padre">
        <div class="text1">
            <h1>Nuestra Historia Refugio Instinto</h1>
            <p>
                En el corazón de Bosa, donde la realidad de los animales en situación de calle nos
                conmovió profundamente, nació Fundación Instinto. Frente a parqueaderos, fábricas de
                icopor y talleres mecánicos, presenciamos a diario la necesidad de brindarles atención y
                cuidados básicos. La esterilización y la alimentación se convirtieron en nuestros
                primeros pasos, acciones que marcaron el inicio de un camino de transformación.
                Un día, la demolición de la zona donde solíamos atender a los animales en calle nos
                obligó a buscar un nuevo refugio. Con 40 peluditos a nuestro cargo, nos mudamos a
                una casa donde continuamos brindándoles amor y cuidado. Este cambio marcó un
                nuevo capítulo en nuestra historia, consolidando nuestro compromiso con el bienestar
                animal.
            </p>
        </div>

        <div class="contenedor">
            <div class="img">
                <img src="assets/nosotros.png" alt="">
            </div>

            <div class="tex2">
                <p>
                    Ciudad Bolívar nos abrió las puertas a un nuevo
                    horizonte de posibilidades. En busca de un espacio
                    más amplio para construir nuestro propio refugio,
                    llegamos a este lugar que nos brindó la accesibilidad
                    necesaria para hacer realidad nuestro sueño. Desde
                    entonces, hemos trabajado incansablemente en
                    jornadas de alimentación y primeros auxilios en las
                    zonas más vulnerables de la ciudad, llevando
                    esperanza y alivio a nuestros peluditos en situación de
                    calle. <br>
                    <br>
                    La esterilización se ha convertido en uno de los pilares
                    fundamentales de la labor de Fundación Instinto,
                    previniendo el nacimiento de nuevas camadas de
                    animales que podrían terminar en situación de
                    abandono. Rescatamos los casos más graves,
                    brindándoles rehabilitación y el amor que necesitan
                    para sanar sus heridas. Nuestro objetivo final es
                    encontrarles hogares responsables donde puedan
                    vivir una vida plena y llena de cariño.
                </p>
            </div>
        </div>  
    </div>  
</section>

   