.text-box1 {
    margin-left: 30px;
	width: fit-content;

}

.text-box1 h3 {
    font-size: 16px;
	height: 20px;
    margin-bottom: 10px; 
    color: #2b2b2b; 
	line-height: 1.5;
	color: #c7a17a;
	cursor: pointer;
    padding-top: 20px;
}

.text-box1 .hover-text h3:hover {
    font-size: 1.8rem;
}

.hover-text{
	text-decoration: none;
}

.container-comprobante {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 50px;
}

.container-comprobante h1{
    font-size: 3rem;
    margin-bottom: 30px;
}

.container-comprobante p{
    max-width: 500px;
    align-self: center;
    font-size: 2rem;
}

.container-comprobante h1, p{
    text-align: center;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Estilos para el formulario */
form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
    text-align: center;
}

.form-control {
    width: 100%;
    max-width: 400px;
    margin: 0 22px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block;
    text-align: left;
}

/* Estilo para los placeholders */
.form-control::placeholder {
    text-align: left;
    opacity: 0.7;
    font-size: 0.9em;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    text-align: left;
    margin-left: 5%;
    font-size: 1.1em;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 14px;
    margin-top: 4px;
    display: block;
}

.image-container {
    max-width: 500px;
    width: 400px;
    min-width: 200px;
    background-color: #B7B4B1;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    border-radius: 10%;
    cursor: pointer;
    border: 4px black dotted;
    position: relative;
    margin-top: 20px;
}

.image-container img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10%;
    object-fit: cover;
}

.image-container i {
    font-size: 5rem;
    margin-bottom: 50px;
}

.image-container p {
    margin: 0px;
    cursor: default;
}

.buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

button{
	padding: 15px;
    color: white;
    text-align: center;
    font-size: 15px;
    background-color: black;
    width: 150px;
    align-self: center;
    border-radius: 25px;
    cursor: pointer;
    margin: 0px 30px;
}

.loading {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.loading i {
    font-size: 5rem;
    color: #c7a17a;
}