<div class="text-box1">
    <a class="hover-text" routerLink="/web/donaciones-monetarias"><h3> <i class="fa-solid fa-chevron-left"></i> Volver</h3></a>
</div>

<div class="container-comprobante">
    <h1><i class="fa-solid fas fa-paw"></i> ! IMPORTANTE ¡ <i class="fa-solid fas fa-paw"></i></h1>
    <p>Es importante que, si realizas tu donación por transferencia, nos envíes una foto del comprobante de que la transferencia se ha realizado con éxito. Esto permitirá que nuestra fundación pueda verificar y registrar tu donación adecuadamente.</p>
    <div class="loading" *ngIf="loading">
        <i class="fa-solid fa-spinner fa-spin fa-2xl"></i>
    </div>

    <form [formGroup]="donacionForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="nombreCompleto">Nombre completo</label>
          <input 
            id="nombreCompleto"
            type="text" 
            class="form-control"
            formControlName="nombreCompleto" 
            placeholder="Ingresa tu nombre completo"
            (input)="onNombreInput($event)"
            [class.is-invalid]="donacionForm.get('nombreCompleto')?.invalid && donacionForm.get('nombreCompleto')?.touched">
          <div class="invalid-feedback" *ngIf="donacionForm.get('nombreCompleto')?.errors">
            <div *ngIf="donacionForm.get('nombreCompleto')?.errors?.['required'] && donacionForm.get('nombreCompleto')?.touched">
              Por favor ingresa tu nombre completo
            </div>
            <div *ngIf="donacionForm.get('nombreCompleto')?.errors?.['minlength']">
              El nombre debe tener al menos 3 caracteres
            </div>
            <div *ngIf="donacionForm.get('nombreCompleto')?.errors?.['maxlength']">
              El nombre no puede tener más de 20 caracteres
            </div>
            <div *ngIf="donacionForm.get('nombreCompleto')?.errors?.['pattern']">
              Solo se permiten letras y espacios
            </div>

          </div>
          
        </div>

        <div class="form-group">
            <label for="whatsapp">WhatsApp</label>
            <input 
              id="whatsapp"
              type="text" 
              class="form-control"
              formControlName="whatsapp" 
              (input)="onWhatsAppInput($event)"
              placeholder="Ingresa tu número de WhatsApp"
              [class.is-invalid]="donacionForm.get('whatsapp')?.invalid && donacionForm.get('whatsapp')?.touched">
            <div class="invalid-feedback" *ngIf="donacionForm.get('whatsapp')?.errors">
              <div *ngIf="donacionForm.get('whatsapp')?.errors?.['required'] && donacionForm.get('whatsapp')?.touched">
                Por favor ingresa tu número de WhatsApp
              </div>
              <div *ngIf="donacionForm.get('whatsapp')?.errors?.['pattern']">
                Solo se permiten números
              </div>
              <div *ngIf="donacionForm.get('whatsapp')?.errors?.['minlength']">
                El número debe tener al menos 6 dígitos
              </div>
              <div *ngIf="donacionForm.get('whatsapp')?.errors?.['maxlength']">
                El número no puede tener más de 12 dígitos
              </div>
            </div>
          </div>
          
    <div class="content" *ngIf="!loading">
        <input type="file" #fileInput hidden (change)="fileSelected($event)" multiple="false">
        <div class="image-container" (click)="fileInput.click()">
            <img [src]="this.base64" alt="" *ngIf="selectedImage">
            <i class="fa-regular fa-image fa-2xl"></i>
            <p>Subir Imagen</p>
        </div>
    </div>

    <div class="buttons" *ngIf="!loading">
        <button (click)="quitarImagen()">Eliminar</button>
        <button type="submit">Enviar</button>
    </div>
</form>
</div>