.content-container2 {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    width: calc(100% - 240px); 
    padding: 2px 0;
  }

  .image-container {
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
}

.testimonios-image {
    margin-top: 10px;
    width: 380px; 
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 10px; 
}

.info-boxes {
    display: flex;
    flex-direction: column; 
    gap: 10px; 
}

.info-box {
    background-color: #F0E1D3; 
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 380px; 
}

.info-box2 {
    background-color: #F0E1D3; 
    color: black;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 10px; 
}
.info-box p {
    text-align: left; 
    margin: 0; 
}


.name-status-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}


.pet-name {
    font-size: 18px;
    font-weight: bold;
    color: black;
    text-align: center;
}


.status-container {
    display: flex;
    align-items: center; 
    gap: 10px; 
}


.status-circle {
    background-color: red;
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
    margin-left: 10px; 
}


.status-text {
    color: black;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}


.action-buttons {
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    display: flex;
    gap: 10px; 
  }
  

  .action-button {
    width: 50px;
    height: 50px;
    background-color: #F0E1D3; 
    color: black; 
    border-radius: 8px; 
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 20px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease; 
  }
  
  
  .action-button:hover {
    transform: scale(1.1); 
  }
  
  .action-button.delete:hover {
    background-color: #D9534F; 
  }
  
  .action-button.edit:hover {
    background-color: #5BC0DE; 
  }