<div class="content-container2">
    <div class="image-container">
        <img src="assets/manzanita-patrocina-un-peludito.png" alt="Descripción de la imagen" class="testimonios-image">
        
        <div class="info-boxes">>
            <div class="info-box">
                <p>Fecha de registro: 10/11/2024</p>
                <p>Meses-Años: 1 mes</p>
                <p>sexo: Hembra</p>
            </div>
            <div class="info-box">
                <p>Esterilizado: No</p>
                <p>Tamaño: Mediano</p>
                <p>Raza: Criollo</p>
            </div>
        </div>
    </div>
    <div class="name-status-container">
        <p class="pet-name">Manzanita</p>
        <div class="status-container">
            <div class="status-circle"></div>
            <p class="status-text">Estado crítico</p>
        </div>
    </div>
    <div class="info-box2">
        <p>Manzanita fue encontrada al lado de su madre, fría y sin vida. Débil y deshidratada, lucha por cada respiración. Sus ojitos llenos de miedo buscan una mano que la ayude. Necesita cuidados urgentes y mucho amor para recuperarse. ¡Ayúdanos a darle una segunda oportunidad!</p>
    </div>
    </div>
    <div class="action-buttons">
        <div class="action-button edit">
            <i class="fa-solid fa-pen"></i>
          </div>
      <div class="action-button delete">
        <i class="fa-solid fa-trash"></i>
      </div>