<div class="text-box1">
    <a class="hover-text" (click)="volver()"><h3> <i class="fa-solid fa-chevron-left"></i> Volver</h3></a>
</div>

<app-title titleText="PERFIL PACIENTE"></app-title>
<div class="content-container2">
    <div class="image-container">
        <img [src]="mascota.imagenes[0]" alt="Descripción de la imagen" class="testimonios-image">
        
        <div class="info-boxes">>
            <div class="info-box">
                <p>Fecha de registro: 10/11/2024</p>
                <p>Meses-Años: {{ mascota.edad }}</p>
                <p>sexo: {{mascota.sexo}}</p>
            </div>
            <div class="info-box">
                <p>Esterilizado: {{mascota.esterilizada?"SI":"NO"}}</p>
                <p>Tamaño: {{mascota.tamano}}</p>
                <p>Raza: {{mascota.raza}}</p>
            </div>
        </div>
    </div>
    <div class="name-status-container">
        <p class="pet-name">{{mascota.nombre}}</p>
        <div class="status-container">
            <div class="status-circle"></div>
            <p class="status-text">{{mascota.estado}}</p>
        </div>
    </div>
    <div class="info-box2">
        <p>{{mascota.historia}}</p>
    </div>
</div>
<div class="action-buttons">
    <button class="action-button edit" routerLink="/admin/add-mascota">
        <i class="fa-solid fa-pen"></i>
    </button>
    <button class="action-button delete" (click)="mostraralerta()">
        <i class="fa-solid fa-trash"></i>
    </button>
</div>
<div class="dialog-container" *ngIf="alertaeliminar">
    <div class="dialog-box">
      <div class="dialog-header">¿Está seguro que quiere eliminar esta mascota?</div>
      <div class="dialog-actions">
        <button class="cancel-button" routerLink="/admin/ver-todas-mascotas" (click)="eliminarmascota()">CONFIRMAR</button>
        <button class="accept-button" (click)="ocultaralerta()">CANCELAR</button>
      </div>
    </div>
</div>