<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detalle de Donación</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  
</head>
<body>
  <div class="container">
    <div class="header">Detalle</div>
    <div class="content">
      <div class="text-box1">
        <a routerLink="/admin/comprobantes-y-pasarelas" class="hover-text">
          <h3><i class="fa-solid fa-chevron-left"></i> Volver</h3>
        </a>
      </div>
      <div class="box">
        <p><strong>Numero de comprobante:</strong>278988767</p>
        <p><strong>Fecha de Pago:</strong>2022-02-12</p>
        <p><strong>Hora de Pago:</strong>1:30 pm</p>
      </div>
      <div class="trash-container">
        <div class="trash">
          <a (click)="$event.preventDefault(); mostrarDialogo()" class="hover-text">
            <i class="fa-solid fa-trash"></i>
          </a>
        </div> 
      </div>      
    </div>
    <div class="donation">Monto Pagado: $100.000</div>
  </div>
  
  <div class="dialog-container" *ngIf="mostrarAlerta">
    <div class="dialog-box">
      <div class="dialog-header">¿Está seguro que quiere eliminar esta comprobante?</div>
      <div class="dialog-actions">
        <button class="cancel-button" (click)="cerrarDialogo()">Cancelar</button>
        <button class="accept-button" (click)="eliminarSolicitud()">Aceptar</button>
      </div>
    </div>
  </div>
  
</body>
</html>

