<main>
    <div class="contenedor__todo">
        <div class="caja__trasera">
            <div class="caja__trasera-register">
                <h3>¡Este acceso es solo <br> para  administradores!</h3>
                <p>El inicio de sesion es unico <br> para el administrador</p>
                <button id="btn__registrarse"  routerLink="/web/Home" routerLinkActive="menu_active">Regresar</button>
            </div>
        </div>

        <!--Formulario de Login y registro-->
        <div class="contenedor__login-register">
            <!--Login-->
            <form class="formulario__login" id="form_inicio" [formGroup]="form">
                <h2>Iniciar Sesión</h2>
                <div class="sesion_loading" *ngIf="loading">
                    <i class="fa-solid fa-spinner fa-spin fa-2xl"></i>
                </div>
                <div *ngIf="!loading">
                    <p class="sesion_error" *ngIf="mostrarErrorLogin">{{ errorMsg }}</p>
                    <div>
                        <input type="text" placeholder="Usuario" formControlName="usuario" #usuarioInput (keydown.enter)="focusNext(claveInput)">
                        <p class="error-msg" *ngIf="form.controls['usuario'].touched && form.controls['usuario'].errors && form.controls['usuario'].errors!['required']">Este campo es requerido.</p>
                        <p class="error-msg" *ngIf="form.controls['usuario'].touched && form.controls['usuario'].errors && form.controls['usuario'].errors!['pattern']">Este campo es alfanumerico.</p>
                    </div>
                    <div>
                        <input type="password" placeholder="Contraseña" formControlName="clave" #claveInput (keydown.enter)="login()">
                        <p class="error-msg" *ngIf="form.controls['clave'].touched && form.controls['clave'].errors && form.controls['clave'].errors!['required']">Este campo es requerido.</p>
                    </div>
                    <div class="recuperar_clave">
                        <a routerLink="/olvido-contrasena">¿Olvidaste tu contraseña?</a>
                    </div>
                    <div>
                        <button type="button" (click)="login()">Entrar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>