<footer class="footer">
    <div class="container container-footer">
        <div class="menu-footer">
            <div class="contact-info">
                <p class="title-footer">Información de Contacto</p>
                <ul>
                    <li>
                        Estamos ubicados en la localidad Ciudad Bolivar de Bogotá
                    </li>
                    <li>Colombia</li>
           
                </ul>
                <div class="social-icons">
                <a href="https://www.instagram.com/ladelosperrosr7/?igsh=M2p3ODd4OHB2bDRs" target="_blank" rel="noopener noreferrer" class="icon instagram">
                <i class="fa-brands fa-instagram"></i>
                </a>
                <a href="https://wa.me/573206981098" target="_blank" rel="noopener noreferrer" class="icon whatsapp">
                <i class="fa-brands fa-whatsapp"></i>
                </a>
                <a href="https://mail.google.com/mail/?view=cm&to=refugioinstinto7@gmail.com" target="_blank" rel="noopener noreferrer" class="icon email">
                <i class="fa-solid fa-envelope"></i>
                </a>
                </div>

            </div>

            <div class="information">
                <p class="title-footer">Información</p>
                <ul>
                    <li><a href="/web/nosotros">Acerca de Nosotros</a></li>
                    <li><a href="/web/testimonios-de-peluditos">Testimonios de peluditos</a></li>
                </ul>
            </div>

            <div class="my-account">
                <p class="title-footer">Quiero ayudar</p>

                <ul>
                    <li><a href="/web/donaciones-monetarias">Donaciones economicas</a></li>
                    <li><a href="/web/voluntariado">¡Quiero ser voluntario!</a></li>
                    <li><a href="/web/donaciones-especie">¡Tengo artículos que podrían ser útiles para la fundación!</a></li>
                    <li><a href="/web/apadrina-un-peludito">¡Quiero apadrinar a un peludito!</a></li>
                    <li><a href="apadrinamiento.html">¡Quiero dar una esterilización!</a></li>
                </ul>
            </div>

            <div class="newsletter">
                <p class="title-footer">¡Sé parte de la solución!</p>

                <div class="content">
                    <p>
                    ¡Haz la diferencia hoy! <br>
                    Súmate a nuestra comunidad y recibe noticias, historias de rescate y formas de ayudar a nuestros peluditos.
                    </p>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>
                Desarrollado por Aprendices Sena &copy; 2024
            </p>

        </div>
    </div>
</footer>