<footer class="footer">
    <div class="container container-footer">
        <div class="menu-footer">
            <div class="contact-info">
                <p class="title-footer">Información de Contacto</p>
                <ul>
                    <li>
                        Estamos ubicados en la localidad Ciudad Bolivar de Bogotá
                    </li>
                    <li>Colombia</li>
                    <li>Numero WhatsApp: 320 698 1098</li>
                    <li>EmaiL: refugioinstinto7&#64;gmail.com</li>
                </ul>
                <div class="social-icons">
                    <span class="facebook">
                        <i class="fa-brands fa-facebook-f"></i>
                    </span>
                    <span class="twitter">
                        <i class="fa-brands fa-twitter"></i>
                    </span>
                    <span class="youtube">
                        <i class="fa-brands fa-youtube"></i>
                    </span>
                    <span class="pinterest">
                        <i class="fa-brands fa-pinterest-p"></i>
                    </span>
                    <span class="instagram">
                        <i class="fa-brands fa-instagram"></i>
                    </span>
                </div>
            </div>

            <div class="information">
                <p class="title-footer">Información</p>
                <ul>
                    <li><a href="#">Acerca de Nosotros</a></li>
                    <li><a href="#">Información Delivery</a></li>
                    <li><a href="#">Politicas de Privacidad</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Contactános</a></li>
                </ul>
            </div>

            <div class="my-account">
                <p class="title-footer">Quiero ayudar</p>

                <ul>
                    <li><a href="donaciones.html">Donaciones economicas</a></li>
                    <li><a href="voluntariado.html">¡Quiero ser voluntario!</a></li>
                    <li><a href="donaciones.html">¡Tengo artículos que podrían ser útiles para la fundación!</a></li>
                    <li><a href="apadrinamiento.html">¡Quiero apadrinar a un peludito!</a></li>
                    <li><a href="apadrinamiento.html">¡Quiero dar una esterilización!</a></li>
                </ul>
            </div>

            <div class="newsletter">
                <p class="title-footer">¡Sé parte de la solución!</p>

                <div class="content">
                    <p>
                        Únete al cambio: recibe noticias sobre animales y conoce a nuestros peluditos.
                    </p>
                    <input type="email" placeholder="Email...">
                    <button>Suscríbete</button>
                </div>
            </div>
        </div>

        <div class="copyright">
            <p>
                Desarrollado por Aprendices Sena &copy; 2024
            </p>

            <img src="assets/payment.png" alt="Pagos">
        </div>
    </div>
</footer>