<div class="text-box1">
    <a class="hover-text" href="web/apadrina-un-peludito"><h3> <i class="fa-solid fa-chevron-left"></i> Volver</h3></a>
</div>

<div class="parrafo">
    <h1>QUIERO APADRINAR</h1>
    <h2>¿Qué significa apadrinar una mascota?</h2>

    <p>Apadrinar una mascota es apoyar financieramente su cuidado, incluyendo salud, alimentación y refugio <br><br>
    <span class="negrilla">¿Que significa apadrinar una mascota?</span> Apadrinar una mascota implica brindar apoyo financiero mensual para cubrir sus necesidades básicas, como atención médica, alimentación y refugio, mientras permanece en nuestra fundación.

    <ul>
        <span class="negrilla">Beneficios del Apadrinamiento</span> <br>
        <span class="negrilla">Para la mascota:</span>
        <li> <span class="negrilla">Salud y Bienestar:</span> Cobertura de tratamientos veterinarios y alimentación.</li>
        <li><span class="negrilla">Cuidado y Comodidad</span>  Alojamiento seguro y artículos de confort.</li>
        <span class="negrilla">Para el padrino:</span>
        <li><span class="negrilla">Conexiones Personal:</span> Actualizaciones periódicas con fotos y videos de tu mascota.</li>
        <li><span class="negrilla">Sactifaccion y Reconocimiento</span> Sensación de impacto positivo y mención en nuestro sitio web. <br> </li>
        <span class="negrilla">impacto del Apadrinamiento:</span>
        <span class="negrilla">Para la mascota:</span>
        <li><span class="negrilla">Mejor Calidad de Vida:</span> Recuperación y preparación para la adopción.</li>
        <li><span class="negrilla">Seguridad:</span> Un entorno estable y amoroso.</li>
        <span class="negrilla">Para la fundación:</span>
        <li><span class="negrilla">Sostenibilidad:</span> Fondos para rescatar y cuidar a más animales.</li>
        <li><span class="negrilla">Mejoras de infraestructura:</span> Mejor mantenimiento y mejoras en nuestras instalaciones.</li>
    </ul> 
<p>Tu apoyo cambia vidas y fortalece nuestra misión. ¡Gracias!</p>
    <div class="boton">
       <a href="web/formulario-de-apadrinamiento/{{idmascota}}"><button>Apadrinar</button></a>
    </div>
</div>


