<app-title titleText="Testimonios"></app-title>
<div class="container1">
    <div class="box">
      <div class="img">
        <img src="c:\Users\DELL\Downloads\image_png (1).png" alt="">
        <a href="index2.html"> <div class="hover-text"> <i class="fa-solid fa-pen"></i> <i class="fa-solid fa-trash"> </i>  </div></a>
      </div>
      <div class="details">
        <h2 class="card-title">Max</h2>
        <div class="status critical" >
        </div>
        <p class="custom-font-size" >Max, un perrito mestizo abandonado, fue rescatado y llevado a un refugio. La familia Pérez lo adoptó, y aunque al principio era tímido, pronto se adaptó y se convirtió en el mejor amigo del hijo. Ahora disfruta de una vida llena de amor y juegos, dejando atrás su vida de abandono.</div>
    </div>
  
    <div class="box">
      <div class="img">
        <img src="c:\Users\DELL\Downloads\Imagen de WhatsApp 2024-06-19 a las 23.42.46_f6800b02.jpg" alt="">
        <a href="index3.html"><div class="hover-text"> <li class="fa-solid fa-pen"></li> <li class="fa-solid fa-trash"> </li>  </div></a>
      </div>
      <div class="details">
        <h2 class="card-title">paco</h2>
        <div class="status urgent" >
        </div>
        <p class="custom-font-size2" >Paco, un gato callejero rescatado, se recuperó en un refugio y mostró ser cariñoso. La familia Rodríguez lo adoptó; inicialmente tímido, Paco se adaptó rápidamente. Ahora disfruta de amor, juegos y un hogar cálido, dejando atrás su vida en las calles.</div>
    </div>
  
    <div class="box">
      <div class="img">
        <img src="c:\Users\DELL\Downloads\image.png" alt="">
        <a href="index4.html"><div class="hover-text"><li class="fa-solid fa-pen"></li> <li class="fa-solid fa-trash"> </li>  </div></a>
      </div>
      <div class="details">
        <h2 class="card-title">tomi</h2>
        <div class="status mild" >
        </div>
        <p class="custom-font-size1" > Tomi era gato callejero, abandonado y solo, fue rescatado por una amable familia. Lo llevaron a su hogar, donde recibió amor, comida y cuidados. Con el tiempo, el gato floreció y se convirtió en el miembro más querido de la familia.</p>
      </div>
    </div>
  </div>
  


<main>
</main>


