
            <div class="search-bar">
                <select id="estado-selector">
                  <option value="">Estado</option>
                  <option value="critico">Estado crítico</option>
                  <option value="disponible">Estado disponible</option>
                </select>
                <button id="buscar-btn">Buscar</button>
              </div>
  
              <div class="image-container">
                <div class="image-item">
                  <img src="assets/apadrinamiento (1).png" alt="Imagen 1">
                  <div class="color-box">
                    <span class="Amarillo-circle"></span> Nico
                  </div>
                </div>
                <div class="image-item">
                  <img src="assets/apadrinamiento (2).png" alt="Imagen 2">
                  <div class="color-box">
                    <span class="Verde-circle"></span> Manzanita
                  </div>
                </div>
                <div class="image-item">
                  <img src="assets/admin.jpg" alt="Imagen 3">
                  <div class="color-box">
                    <span class="Amarillo-circle"></span> Pedro
                  </div>
                </div>
                <div class="image-item">
                  <img src="assets/admin2.png" alt="Imagen 4">
                  <div class="color-box">
                    <span class="Verde-circle"></span> Max
                  </div>
                </div>
              </div>
              
             
  <div class="action-buttons">
      <div class="action-button edit">
          <i class="fa-solid fa-pen"></i>
        </div>
    <div class="action-button delete">
      <i class="fa-solid fa-trash"></i>
    </div>
    
  </div>