<div class="container-navbar">
    <h1>Formulario de Apadrinamiento</h1>
    <a class="hover-text" href="web/texto-apadrinar"><h3> <i class="fa-solid fa-chevron-left"></i> Volver</h3></a>
<div class="carta">
    <form>
      <label for="nombre">Nombre completo:</label>
      <input type="text" id="nombre" name="nombre" placeholder="Nombre completo...">

      <label for="correo">Cprreo Electronico:</label>
      <input type="tel" id="correo" name="correo" placeholder="Correo Electronico...">
      
      <label for="numeroc">Número de celular:</label>
      <input type="tel" id="numeroc" name="numeroc" placeholder="WhatsApp...">

      <p>Deseo recibir actualizaciones y noticias de la fundacion:</p><br>

      <div class="checkbox-group" >

        <label for="vehicle1">Si</label>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="si">
       
        <label for="vehicle2">No</label>
        <input type="checkbox" id="vehicle2" name="vehicle2" value="no"><br>
        
      </div>
      <input type="submit" value="Siguiente">
      
    </form>
</div>


 
