<section class="banner">
    <div class="content-banner">

    </div>
</section>
<section>
    <div class="container1">
        <div class="box">
          <div class="img">
            <img src="assets/manzanita-patrocina-un-peludito.png" alt="">
            <a href='/web/texto-apadrinar' class="hover-text"><i class="fa-solid fas fa-paw"></i> Apadrinar</a>
    
          </div>
          <div class="details">
            <h2 class="card-title">Manzanita</h2>
            <div class="status critical" >
              <span>Estado Crítico</span>
            </div>
            <p class="custom-font-size" >Manzanita fue encontrada al lado de su madre, fría y sin vida. Débil y deshidratada, lucha por cada respiración. Sus ojos llenos de miedo buscan una mano que la ayude. Necesita cuidados urgentes y mucho amor para recuperarse. ¡Ayúdanos a darle una segunda oportunidad!</p>
          </div>
        </div>
      
        <div class="box">
          <div class="img">
            <img src="assets/nico-patrocina-un-peludito.png" alt="">
            <a href="/web/texto-apadrinar"><div class="hover-text"><i class="fa-solid fas fa-paw"></i> Apadrinar</div></a>
          </div>
    
          <div class="details">
            <h2 class="card-title">Nico</h2>
            <div class="status urgent" >
              <span>Estado Urgente</span>
            </div>
            <p class="custom-font-size2" >Nico fue encontrado bajo una pila de escombros, su patita herida y su mirada llena de miedo. Era solo un cachorro, perdido y solo. Pero en nuestro refugio, encontró más que un techo: encontró amor, cuidados y una segunda oportunidad. Con mucho cariño y paciencia, lo ayudamos a recuperarse. Hoy, Nico es un perro juguetón y lleno de vida que busca un hogar donde recibir todo el amor que merece.</p>
          </div>
        </div>
      
        <div class="box">
          <div class="img">
            <img src="assets/mandarino-patrocina-un-peludito.png" alt="">
            <a href="/web/texto-apadrinar"><div class="hover-text"><i class="fa-solid fas fa-paw"></i> Apadrinar</div></a>
          </div>
          <div class="details">
            <h2 class="card-title">Mandarino</h2>
            <div class="status mild" >
              <span>Estado Leve</span>
            </div>
            <p class="custom-font-size1" >Mandarino llegó a nuestro refugio un poco desaliñado, con una leve sarna que lo hacía sentir incómodo. Pero detrás de ese aspecto, encontramos un gatito lleno de vida y cariño. Ayúdanos a que pueda sanar pronto y así pasar al proceso de adopción y pueda encontrar una familia que lo cuide y ame.</p>
          </div>
        </div>
      </div>
</section>

