<section class="banner">
    <div class="content-banner">

    </div>
</section>
<section>
  <div class="loading" *ngIf="loading">
    <i class="fa-solid fa-spinner fa-spin fa-2xl"></i>
  </div>
  <div class="container1" *ngIf="!loading">
    <div class="box" *ngFor="let mascota of mascotas">
      <div class="img">
        <img src="{{ mascota.imagenes[0] }}" alt="">
        <a routerLink='/web/texto-apadrinar' class="hover-text"><i class="fa-solid fas fa-paw"></i> Apadrinar</a>

      </div>
      <div class="details">
        <h2 class="card-title">{{ mascota.nombre }}</h2>
        <div class="status critical" >
          <span>{{ mascota.estado }}</span>
        </div>
        <p class="custom-font-size" >{{ mascota.historia }}</p>
      </div>
    </div>
  </div>
</section>

