<ng-container *ngFor="let datos of datosAgrupados; let i = index ">
    <div class="date-box">
        <input type="checkbox" id="{{ 'item-'+i }}" hidden>
        <label for="{{ 'item-'+i }}">
            {{ datos.fecha.toString() }}
            <span class="arrow">▶</span>
        </label>
        <ul>
            <ng-container *ngIf="datos.tipo == 'comprobantes-pasarelas'">
                <ng-container *ngFor="let item of datos.items; let i = index">
                    <li  (click)="emitirEvento(item?.base64)">
                        <span class="list-number">{{ i+1 }}.</span>
                        N. {{ item?.consecutivo }}
                    </li>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="datos.tipo == 'voluntariado'">
                <ng-container *ngFor="let item of datos.items; let i = index">
                    <li  (click)="emitirEvento(item?.nombre)">
                        <span class="list-number">{{ i+1 }}.</span>
                        {{ item?.nombre + " " + item?.apellido }}
                    </li>
                </ng-container>
            </ng-container>

   <ng-container *ngIf="datos.tipo == 'donaciones'">
  <ng-container *ngFor="let item of datos.items; let i = index">
    <li (click)="emitirEvento(item?.nombreCompleto)">
      <span class="list-number">{{ i + 1 }}.</span>
      <strong> {{ item?.nombreCompleto }}</strong><br>
    </li>
  </ng-container>
</ng-container>

<ng-container *ngIf="datos.tipo == 'apadrinamiento'">
  <ng-container *ngFor="let item of datos.items; let i = index">
    <li (click)="emitirEvento(item?.nombre)">
      <span class="list-number">{{ i + 1 }}.</span>
      <strong> {{ item?.nombre }}</strong><br>
    </li>
  </ng-container>
</ng-container>

<ng-container *ngIf="datos.tipo == 'adopcion'">
  <ng-container *ngFor="let item of datos.items; let i = index">
   <li (click)="emitirEvento(item)">
  <span class="list-number">{{ i + 1 }}.</span>
  <strong>{{ item?.nombre }}</strong>
</li>
  </ng-container>
</ng-container>


        </ul>
    </div>
</ng-container>