<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPROBANTES Y PASARELAS DE PAGO</title>
</head>
<body>
    <div class="header">COMPROBANTES Y PASARELAS DE PAGO</div>
    <div class="container">
        <div class="donation-box">Comprobantes de pago</div>
        <div class="date-box">2022-02-12</div>
        <ul>
            <li><span class="list-number">1.</span> N. 278988767.</li>
            <li><span class="list-number">2.</span><a routerLink="/admin/Detalle-Comprobantes" routerLinkActive="menu_active">N. 234864256.</a></li>
        </ul>
        <div class="date-box">2022-05-12</div>
        <ul>
            <li><span class="list-number">1.</span> N. 275390743.</li>
            <li><span class="list-number">2.</span> N. 238044324.</li>
            <li><span class="list-number">3.</span> N. 875322002.</li>
        </ul>
        <div class="button-container">
            <a href="" class="button">PASARELA</a>
        </div>
    </div>
</body>
</html>