<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COMPROBANTES Y PASARELAS DE PAGO</title>
</head>
<body>
    <div class="header">COMPROBANTES Y PASARELAS DE PAGO</div>
    <div class="container">
        <div class="donation-box">Comprobantes de pago</div>
        <ng-container *ngFor="let grupoDonaciones of comprobantesDonacionAgrupoados">
            <div class="date-box">{{ grupoDonaciones.fecha.toString() }}</div>
            <ul>
                <li *ngFor="let donacion of grupoDonaciones.donaciones; let i = index" (click)="mostrarDetalleComprobante('')"><span class="list-number">{{ i+1 }}.</span> N. {{ donacion.consecutivo }}</li>
            </ul>
        </ng-container>
        <div class="button-container">
            <a routerLink="/admin/Pasarelas" routerLinkActive="menu_active"  class="button"  href="" class="button">PASARELA</a>
        </div>
    </div>
</body>
</html>