<h1>Peluditos Adoptados</h1>
    <h2>Estos son algunos de los perritos que han llegado a nuestra fundación en malas condiciones, que afortunadamente
        consiguieron un hogar y pudieron conocer el amor y ahora son felices.
        <div>
        ¡ADOPTA, NO COMPRES!</div></h2>


             <main>
  <section class="gallery">
    <div class="card" *ngFor="let mascota of mascotasConTestimonio">
      <div class="img-container">
        <img [src]="mascota.imagenes[0]" alt="{{ mascota.nombre }}" />
      </div>
      <h3  class="card-title">{{ mascota.nombre }}</h3>
      <p class="custom-font-size">{{ mascota.testimonio }}</p>
    </div>

        </section>
    </main>
