<h1>Peluditos Adoptados</h1>
    <h2>Estos son algunos de los perritos que han llegado a nuestra fundación en malas condiciones, que afortunadamente
        consiguieron un hogar y pudieron conocer el amor y ahora son felices.
        <div>
        ¡ADOPTA, NO COMPRES!</div></h2>

    <main>
        <section class="gallery">
            <div class="card">
                <div class="img-container">
                    <img src="assets/max_testimodios_de_adoptados.png" alt="max">
                </div>
                <h3>Max</h3>

                <p>Adoptado el: 28/02/2024</p>

                <p>Max, un perrito mestizo abandonado, fue rescatado y llevado a un refugio. La familia Pérez lo adoptó,
                    y aunque al principio era tímido, pronto se adaptó y se convirtió en el mejor amigo del hijo. Ahora
                    disfruta de una vida llena de amor y juegos, dejando atrás su vida de abandono.</p>
            </div>

            <div class="card">
                <div class="img-container">
                    <img src="assets/luna_testimonios_de_adoptados.png" alt="luna">
                </div>
                <h3>Luna</h3>
                <p>Adoptado el: 12/05/2024</p>
                <p>Luna, una perrita mestiza rescatada de las calles, recuperó su salud en un refugio y mostró su
                    carácter amigable. La familia Hernández la adoptó y Luna se adaptó rápidamente, encontrando un hogar
                    lleno de amor</p>
            </div>

            <div class="card">
                <div class="img-container">
                    <img src="assets/tomi_testimonios_de_adoptados.png" alt="tomi">
                </div>
                <h3>Tomi</h3>
                <p>Adoptado el: 16/11/2024</p>
                <p>Tomi era gato callejero, abandonado y solo, fue rescatado por una amable familia. Lo llevaron a su
                    hogar, donde recibió amor, comida y cuidados. Con el tiempo, el gato floreció y se convirtió en el
                    miembro más querido de la familia.</p>
            </div>

            <div class="card">
                <div class="img-container">
                    <img src="assets/paco_testimonios_de_adoptados.jpg" alt="paco">
                </div>
                <h3>Paco</h3>
                <p>Adoptado el: 03/09/2024</p>
                <p>Paco, un gato callejero rescatado, se recuperó en un refugio y mostró ser cariñoso. La familia
                    Rodríguez lo adoptó; inicialmente tímido, Paco se adaptó rápidamente. Ahora disfruta de amor, juegos
                    y un hogar cálido, dejando atrás su vida en las calles.</p>
            </div>
        </section>
    </main>
