 
<div class="container">
  <div class="text-box1">
  <a  class="hover-text">
  <h3><i class="fa-solid fa-chevron-left"></i> Volver</h3>
  </a>
  </div>
  <div class="header">Detalle de Solicitud</div>

  <div class="content">
    

    <div class="box">
      <p *ngFor="let mapa of detalle"><strong>{{ mapa.key }}</strong> {{ mapa.value }}</p>
    </div>

    <div class="trash-container">
      <div class="trash" (click)="eliminar()">
        <i class="fa-solid fa-trash"></i>
      </div>
    </div>
  </div>
</div>

