<div class="wrapper2">
    <div class="text-box1">
        <a class="hover-text" href="#"><h3> <i class="fa-solid fa-chevron-left"></i> Volver</h3></a>
    </div>
</div>

<div class="wrapper" id="info_peludito">
    <ng-container *ngIf="loadingMascota">
        <i class="fa-solid fa-spinner fa-spin loading"></i>
    </ng-container>
    <ng-container *ngIf="!loadingMascota">
        <img src="{{ mascota.imagenes[0] }}" alt="" class="img">
        <div class="text-box">
            <h2>{{ mascota.nombre }}</h2>
            <p>
                Edad: {{ mascota.edad }} <br>
                Sexo: Macho <br>
                Raza: {{ mascota.raza }} <br>
                esterilizado: {{ mascota.esterilizada ? "Si" : "No" }} <br>
                <br>
                {{ mascota.historia }}
            </p>

            <div class="button">
                <a routerLink="/web/formulario-de-adopcion/{{ idMascota }}">Adoptar</a>
            </div>
        
        </div>
    </ng-container>
</div>
