<div class="container-hero">
    <div class="container hero">
        <div class="customer-support">
        </div>

        <div class="container-logo">
            <i class="fa-solid fas fa-paw"></i>
            <h1 class="logo"><a href="/">Fundacion Instinto</a></h1>
        </div>

        <div class="container-user">
            <a (click)="logout()">
                <i class="fa-solid fa-user"></i>
            </a>
        </div>
    </div>
</div>
<main>
    <aside>
        <div class="side-nav">
            <ul class="main-nav">
                <li>
                    <input type="checkbox" id="mascotas" hidden>
                    <label for="mascotas">MASCOTAS <span class="arrow">▶</span></label>
                    <ul class="nav-child">
                        <li routerLink="/admin/ver-todas-mascotas" routerLinkActive="menu_active">
                            Ver todas
                        </li>
                        <li routerLink="/admin/bajo-cuidado" routerLinkActive="menu_active">
                            Bajo cuidado
                        </li>
                        <li routerLink="/admin/adopciones" routerLinkActive="menu_active">
                            Adopciones
                        </li>
                        <li routerLink="/admin/testimonios" routerLinkActive="menu_active">
                            Testimonios
                        </li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="donaciones" hidden>
                    <label for="donaciones">DONACIONES <span class="arrow">▶</span></label>
                    <ul class="nav-child">
                        <li routerLink="/admin/comprobantes-y-pasarelas" routerLinkActive="menu_active">
                            Comprobantes de pago
                        </li>
                        <li routerLink="/admin/solicitud-en-especie" routerLinkActive="menu_active">
                            Solicitudes en especie
                        </li>
                    </ul>
                </li>
                <li>
                    <input type="checkbox" id="solicitudes" hidden>
                    <label for="solicitudes">SOLICITUDES <span class="arrow">▶</span></label>
                    <ul class="nav-child">
                        <li>
                            Adopción
                        </li>
                        <li>
                            Voluntariado
                        </li>
                        <li>
                            Apadrinamiento
                        </li>
                    </ul>
                </li>
            

            <li>
                <input type="checkbox" id="Papelera" hidden>
                <label for="Papelera">PAPELERA <span class="arrow">▶</span></label>
                <ul class="nav-child">
                    <li>
                        Comprobantes de pago
                    </li>
                </ul>
            </li>
        </ul>
        </div>
    </aside>
    <div class="container-content">
        <router-outlet></router-outlet>
    </div>
</main>
