<div class="tittle">
         <h1>Formulario de donaciones</h1>
         <a class="hover-text" href="index.html"><h3> <i class="fa-solid fa-chevron-left"></i> Volver</h3></a>
</div>

<div class="carta">
    <form>
      <label for="nombre">Nombre completo:</label>
      <input type="text" id="nombre" name="nombre" placeholder="Nombre completo">
      
      <label for="numeroc">Número de celular:</label>
      <input type="tel" id="numeroc" name="numeroc" placeholder="WhatsApp">

      <p>Donación:</p>
      
      <div class="checkbox-group" >
        <p>Elige el artículo que quieras donar:</p><br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Alimento para gatos">
        <label for="vehicle1">Alimento para gatos</label><br>

        <input type="checkbox" id="vehicle2" name="vehicle2" value="Alimento para perros">
        <label for="vehicle2">Alimento para perros</label><br>

        <input type="checkbox" id="vehicle3" name="vehicle3" value="Peine o cepillo">
        <label for="vehicle3">Peine o cepillo</label><br>

        <input type="checkbox" id="vehicle4" name="vehicle4" value="Medicamentos veterinarios">
        <label for="vehicle4">Medicamentos veterinarios</label><br>

        <input type="checkbox" id="vehicle5" name="vehicle5" value="Camas y mantas">
        <label for="vehicle5">Camas y mantas</label><br>

        <input type="checkbox" id="vehicle6" name="vehicle6" value="Arena para gatos">
        <label for="vehicle6">Arena para gatos</label><br>

        <input type="checkbox" id="vehicle7" name="vehicle7" value="Collares y correas">
        <label for="vehicle7">Collares y correas</label><br>

        <input type="checkbox" id="vehicle8" name="vehicle8" value="Productos de limpieza">
        <label for="vehicle8">Productos de limpieza</label><br>

        <input type="checkbox" id="vehicle9" name="vehicle9" value="Jaulas y transportadoras">
        <label for="vehicle9">Jaulas y transportadoras</label>
      </div>
      <label for="otro">Otro:</label>
      <input type="text" id="otro" name="otro" placeholder="Otro...">
      <input type="submit" value="Enviar">

    </form> 
</div>

<app-footer></app-footer>


