<div class="tittle">
         <h1>Formulario de donaciones</h1>
         <a class="hover-text" routerLink="/web/donaciones-especie"><h3> <i class="fa-solid fa-chevron-left"></i> Volver</h3></a>
</div>

<div class="carta">
  <div class="loading-container" *ngIf="loadingForm">
    <i class="fa-solid fa-spinner fa-spin loading"></i>
  </div>
  <form (submit)="toSolicitudEnviada()" [formGroup]="donacionForm" *ngIf="!loadingForm">
      <label for="nombre">Nombre completo y Apellidos:</label>
      <input type="text" id="nombre" name="nombre" placeholder="Nombre completo" formControlName="nombreCompleto">
      <div class="error-msg">
        <p *ngIf="donacionForm.get('nombreCompleto')?.errors?.['minlength']">Mínimo 3 caracteres.</p>
        <p *ngIf="donacionForm.get('nombreCompleto')?.errors?.['maxlength']">Máximo 50 caracteres.</p>
        <p *ngIf="this.donacionForm.controls['nombreCompleto'].touched && this.donacionForm.controls['nombreCompleto'].errors && this.donacionForm.controls['nombreCompleto'].errors!['required']">El campo nombre es obligatorio</p>
        <p *ngIf="this.donacionForm.controls['nombreCompleto'].touched && this.donacionForm.controls['nombreCompleto'].errors && this.donacionForm.controls['nombreCompleto'].errors!['pattern']">El campo nombre solo acepta de 5 a 50 letras</p>
      </div>
      
      <label for="numeroc">Número de celular:</label>
      <input type="tel" id="numeroc" name="numeroc" placeholder="WhatsApp" formControlName="numeroCelular">
      <div class="error-msg">
        <p *ngIf="donacionForm.get('numeroCelular')?.errors?.['pattern']">Solo se permiten números de 7 a 15 dígitos.</p>
        <p *ngIf="this.donacionForm.controls['numeroCelular'].touched && this.donacionForm.controls['numeroCelular'].errors && this.donacionForm.controls['numeroCelular'].errors!['required']">El campo numero de celular es obligatorio</p>
        <p *ngIf="this.donacionForm.controls['numeroCelular'].touched && this.donacionForm.controls['numeroCelular'].errors && this.donacionForm.controls['numeroCelular'].errors!['pattern']">El campo numero de celular solo acepta numero</p>
      </div>

      <p class="donacion">Donación:</p>
      
      <div class="checkbox-group" >
        <p class="donacion">Elige el artículo que quieras donar:</p><br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Alimento para gatos" formControlName="alimentoGatos">
        <label for="vehicle1">Alimento para gatos</label><br>

        <input type="checkbox" id="vehicle2" name="vehicle2" value="Alimento para perros" formControlName="alimentoPerros">
        <label for="vehicle2">Alimento para perros</label><br>

        <input type="checkbox" id="vehicle3" name="vehicle3" value="Peine o cepillo" formControlName="peine">
        <label for="vehicle3">Peine o cepillo</label><br>

        <input type="checkbox" id="vehicle4" name="vehicle4" value="Medicamentos veterinarios" formControlName="medicamentos">
        <label for="vehicle4">Medicamentos veterinarios</label><br>

        <input type="checkbox" id="vehicle5" name="vehicle5" value="Camas y mantas" formControlName="camas">
        <label for="vehicle5">Camas y mantas</label><br>

        <input type="checkbox" id="vehicle6" name="vehicle6" value="Arena para gatos" formControlName="arena">
        <label for="vehicle6">Arena para gatos</label><br>

        <input type="checkbox" id="vehicle7" name="vehicle7" value="Collares y correas" formControlName="collares">
        <label for="vehicle7">Collares y correas</label><br>

        <input type="checkbox" id="vehicle8" name="vehicle8" value="Productos de limpieza" formControlName="limpieza">
        <label for="vehicle8">Productos de limpieza</label><br>

        <input type="checkbox" id="vehicle9" name="vehicle9" value="Jaulas y transportadoras" formControlName="jaulas">
        <label for="vehicle9">Jaulas y transportadoras</label>
      </div>

      <label for="otro">Otro:</label>
      <input type="text" id="otro" name="otro" placeholder="Otro..." formControlName="otro">
      <div class="error-msg">
        <p *ngIf="this.donacionForm.controls['otro'].touched && this.donacionForm.controls['otro'].errors && this.donacionForm.controls['otro'].errors!['required']">El campo otro es obligatorio</p>
          <p *ngIf="this.donacionForm.controls['otro'].touched && this.donacionForm.controls['otro'].errors && this.donacionForm.controls['otro'].errors!['pattern']">El campo otro solo acepta de 5 a 50 letras</p>
      </div>

      <input type="submit" value="Enviar" >

    </form>
</div>




