<div class="tittle">
         <h1>Formulario de donaciones</h1>
         <a class="hover-text" routerLink="/web/donaciones-especie"><h3> <i class="fa-solid fa-chevron-left"></i> Volver</h3></a>
</div>

<div class="carta">
  <div class="loading-container" *ngIf="loadingForm">
    <i class="fa-solid fa-spinner fa-spin loading"></i>
  </div>
  <form (submit)="toSolicitudEnviada()" [formGroup]="donacionForm" *ngIf="!loadingForm">
      <label for="nombre">Nombre completo y Apellidos:</label>
      <input type="text" id="nombre" name="nombre" placeholder="Nombre completo" formControlName="nombreCompleto" (input)="onInput($event)">
      <div class="error-msg">
        <p *ngIf="donacionForm.get('nombreCompleto')?.errors?.['required'] && donacionForm.get('nombreCompleto')?.touched">El nombre es obligatorio</p>
        <p *ngIf="donacionForm.get('nombreCompleto')?.errors?.['minlength']">El nombre debe tener al menos 8 caracteres</p>
        <p *ngIf="donacionForm.get('nombreCompleto')?.errors?.['maxlength']">El nombre no puede tener más de 35 caracteres</p>
        <p *ngIf="donacionForm.get('nombreCompleto')?.errors?.['startsWithSpace']">El nombre no puede comenzar con espacio</p>
      </div>
      
      <label for="numeroc">Número de WhatsApp:</label>
      <input type="tel" id="numeroc" name="numeroc" placeholder="Número de teléfono" formControlName="numeroCelular" inputmode="numeric">
      <div class="error-msg">
        <p *ngIf="donacionForm.get('numeroCelular')?.errors?.['required'] && donacionForm.get('numeroCelular')?.touched">El número de WhatsApp es obligatorio</p>
        <p *ngIf="donacionForm.get('numeroCelular')?.errors?.['pattern']">Solo se permiten números</p>
        <p *ngIf="donacionForm.get('numeroCelular')?.errors?.['minlength']">El número debe tener al menos 6 dígitos</p>
        <p *ngIf="donacionForm.get('numeroCelular')?.errors?.['maxlength']">El número no puede tener más de 13 dígitos</p>
      </div>

      <p class="donacion">Donación:</p>
      
      <div class="checkbox-group" >
        <p class="donacion">Elige el artículo que quieras donar:</p><br>
        <input type="checkbox" id="vehicle1" name="vehicle1" value="Alimento para gatos" formControlName="alimentoGatos">
        <label for="vehicle1">Alimento para gatos</label><br>

        <input type="checkbox" id="vehicle2" name="vehicle2" value="Alimento para perros" formControlName="alimentoPerros">
        <label for="vehicle2">Alimento para perros</label><br>

        <input type="checkbox" id="vehicle3" name="vehicle3" value="Peine o cepillo" formControlName="peine">
        <label for="vehicle3">Peine o cepillo</label><br>

        <input type="checkbox" id="vehicle4" name="vehicle4" value="Medicamentos veterinarios" formControlName="medicamentos">
        <label for="vehicle4">Medicamentos veterinarios</label><br>

        <input type="checkbox" id="vehicle5" name="vehicle5" value="Camas y mantas" formControlName="camas">
        <label for="vehicle5">Camas y mantas</label><br>

        <input type="checkbox" id="vehicle6" name="vehicle6" value="Arena para gatos" formControlName="arena">
        <label for="vehicle6">Arena para gatos</label><br>

        <input type="checkbox" id="vehicle7" name="vehicle7" value="Collares y correas" formControlName="collares">
        <label for="vehicle7">Collares y correas</label><br>

        <input type="checkbox" id="vehicle8" name="vehicle8" value="Productos de limpieza" formControlName="limpieza">
        <label for="vehicle8">Productos de limpieza</label><br>

        <input type="checkbox" id="vehicle9" name="vehicle9" value="Jaulas y transportadoras" formControlName="jaulas">
        <label for="vehicle9">Jaulas y transportadoras</label>
      </div>

      <label for="otro">Otro:</label>
      <input type="text" id="otro" name="otro" placeholder="Especificar otro" formControlName="otro" [class.error]="donacionForm.get('otro')?.invalid && donacionForm.get('otro')?.touched">
      <div class="error-msg">
        <p *ngIf="donacionForm.get('otro')?.errors?.['required'] && donacionForm.get('otro')?.touched">Debes especificar un artículo o seleccionar de la lista</p>
        <p *ngIf="donacionForm.get('otro')?.errors?.['pattern']">El artículo debe contener entre 5 y 50 letras</p>
      </div>

      <input type="submit" value="Enviar" >

    </form>
</div>




