.tittle {
    text-align: center;
    padding-top: 30px;
}

.tittle h3 {
  font-size: 16px;
  height: 20px;
  margin-bottom: 10px; 
  line-height: 1.5;
  color: #c7a17a;
  cursor: pointer;
  margin-top: 20px;
  padding-left: 50px;
  width: 20px;
  padding-left: 50px;
  margin-left: 30px; 
	margin-top: 20px; 
	width: fit-content;
}

.tittle h3:hover {
  font-size: 1.8rem;
}

.tittle a {
  text-decoration: none;
}

.carta {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
   
  }
  .checkbox-group{
      border: solid 1px #cccccc;
      border-radius: 3px;
      padding: 7px;

  }
  
  form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }

  input[type="text"], input[type="email"], input[type="tel"], select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

 
  .checkbox-group {
    margin-top: 15px;
  }

  .checkbox-group label {
    display: inline;
    font-weight: normal;
  }

  .checkbox-group input[type="checkbox"] {
    margin-right: 10px;
  }

  p.donacion {
    font-weight: bold;
    
  }

  .error-msg {
    margin-bottom: 15px;
    color: red;
}

  input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}
input[type="submit"]:hover {
background-color: #333333; 
}

.loading-container {
  display: flex;
  justify-content: center;
}

.loading {
  font-size: 10rem;
color: #c7a17a;
margin-top: 50px;
margin-bottom: 80px;
}