<div class="tittle">
  <h1>Formulario de Adopcion</h1>
  <a class="hover-text" routerLink="/web/informacion-de-peluditos-en-adopcion/{{ idMascota }}"><h3> <i class="fa-solid fa-chevron-left"></i> Volver</h3></a>
</div>

  <div class="container12">
    <form (submit)="solicitudAdopcion()">

        <label for="email">Nombre Completo:</label>
        <input type="text" id="Nombre" name="Nombre" placeholder="Nombre Completo...">

        <label for="tipo-documento">Tipo y número de documento:</label>
        <div class="documento-container">
            <select id="tipo-documento" name="tipo-documento">
                <option value="dni">Documento Nacional de Identidad (DNI)</option>
                <option value="pasaporte">Pasaporte</option>
                <option value="cedula">Cédula de ciudadanía</option>
            </select>
            <input type="text" id="numero-documento" name="numero-documento" placeholder="Número de documento">
        </div>
    
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" placeholder="Correo Electrónico...">

        <label for="telefono">Número celular:</label>
        <input type="tel" id="telefono" name="telefono" placeholder="Número celular...">

        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad" placeholder="Ciudad...">

        <label for="departamento">Departamento:</label>
        <input type="text" id="departamento" name="departamento" placeholder="Departamento...">

        <button type="submit" class="btn">Siguiente</button>
    </form>
</div>

<app-footer></app-footer>