<section class="banner">
    <div class="content-banner">

    </div>
</section>
<section>
    <div class="controls">
        <select id="select1" [(ngModel)]="filtroTamanio">
            <option value="" disabled selected>Tamaño</option>
            <option value="Grande">Grande</option>
            <option value="Pequeno">Pequeño</option>
            <option value="Mediano">Mediano</option>
          </select>
          
          <select id="select2" [(ngModel)]="filtroEdad">
            <option value="" disabled selected>Edad</option>
            <option value="3 meses">3 meses</option>
            <option value="1 años">1 Años</option>
            <option value="2 años">2 Años</option>
            <option value="3 años">3 Años</option>
          </select>
          
          
          <button (click)="filtrarMascotas()">Buscar</button>
          

    </div>


    <div class="container1" id="listado_peluditos">
        <ng-container *ngIf="loadingMascotas">
            <i class="fa-solid fa-spinner fa-spin loading"></i>
        </ng-container>
        <ng-container *ngIf="!loadingMascotas">
            <div class='box' *ngFor="let mascota of mascotas">
                <div class='img'>
                    <img src="{{ mascota.imagenes[0] }}"  alt=''>
                    <a href='/web/informacion-de-peluditos-en-adopcion/{{mascota.idMascota}}' ><div class='hover-text'><i class='fa-solid fas fa-paw'></i> Ver peludito</div></a>
                </div>
                <div class='details'>
                    <div class='name'>{{ mascota.nombre }}</div>
                </div>
            </div>
        </ng-container>
    </div>
</section>


